/* CONTAINER */
.container {
  padding: 60px;
  background: #f5f7fa;
}

/* ROW */
.project-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  margin-bottom: 80px;
}

/* REVERSE ROW */
.project-row.reverse {
  flex-direction: row-reverse;
}

.description {
  font-size: 25px;
  line-height: 1.7;
  color: #444;
  margin: 20px 0;
}

/* TEXT SECTION */
.text-section {
  flex: 1;
}

.text-section h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #111;
}

/* POINTS */
.point {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
  align-items: flex-start;
}

.point span {
  background: #e5e7eb;
  padding: 6px 10px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 14px;
}

.point p {
  color: #444;
  font-size: 15px;
}

/* BUTTON */
.text-section button {
  margin-top: 20px;
  padding: 12px 20px;
  border: none;
  background: black;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

/* VIDEO SECTION */
.video-section {
  flex: 1;
  display: flex;
  justify-content: center;
}

.video {
  width: 100%;
  max-width: 500px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .project-row {
    flex-direction: column;
  }

  .project-row.reverse {
    flex-direction: column;
  }
}